.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__figure {
    width: 56px;
    height: 56px;
    position: relative;
  }
}

.black {
  background-color: #b7c0d8;
}

.white {
  background-color: #e8edf9;
}

.selected {
  background: skyblue;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: deepskyblue;
}

.attack {
  background: orangered;
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background: lightgray;

  &__title {
    padding-bottom: 5px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__figure {
    width: 20px;
    height: 20px;
  }
}
