.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__figure {
    width: 56px;
    height: 56px;
    position: relative;
  }
}

.black {
  background-color: #b7c0d8;
}

.white {
  background-color: #e8edf9;
}
